# Core RAG & Orchestration Dependencies
langchain
langchain-community
sentence-transformers # Includes Bi-Encoders and Cross-Encoders
torch # Explicitly add torch (dependency of sentence-transformers)
faiss-cpu
python-dotenv
google-generativeai
# numpy<2.0 # Keep commented unless needed after testing

# Document Loading
pypdf

# UI Framework
streamlit

# Optional but useful
ipykernel
# For Google Search
googlesearch-python
# For Wikipedia
wikipedia-api
# For Google Search
googlesearch-python